body{
    margin: 0;
    padding: 0;
    background-image: url(WhatsApp\ Image\ 2023-08-29\ at\ 22.41.02.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    width: 500px;
    position: absolute;
    top: 50%;
    left:50%;
    background-color: rgb(0,0,0,0.6);
    transform: translate(-50%, -50%);
    padding: 5px;
    box-shadow: 2px 2px 20px #919191;
    height:500px ;

}
.text{
    text-align: left;
    margin-left: 100px;
    color: white;

}

h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
#height,#weight{
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    border:1px solid white;
    width: 300px;
    background-color: transparent;
    border-radius: 3px;
    outline: none;
}
#result{
    color: white;
}
#submit ,#clear{
    font-size: inherit;
    margin-top: 10px;
    border: none;
    color: white;
    background-color:rgb(167, 92, 167);
    width: 150px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}